@media (max-width: 400px){

    html{
        font-size: 50%;}

    .hero-content{
    width: 100%;
    top: clamp(18rem, 36vh , 36rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container{
    width: 100%;
    height: 4rem;
    
}
}

@media (min-width: 768px){

   .container{
    max-width: 768rem;
}


.announcement-text{
    font-size: 1.3rem;

}

/* Hero Section */

.hero-banner-desktop{
display: block;
max-width: 100%;
}

.hero-banner-mobile{
display: none;
}

.hero-toplogo{
    width: clamp(11rem,17vh,17rem);
}

.hero-content{
    width: 100%;
    top: clamp(20rem, 20vh , 20rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .hero-text{
    font-size:3rem ;
    margin-bottom: 0rem;
    letter-spacing: 2px;
}

.hero-subtext{
    margin-bottom: 1rem;
    font-size: 1.3rem;
} */

.hero-text{
    font-size: 4rem ;
    margin-bottom: 0rem;
    letter-spacing: 2px;
}

.hero-subtext{
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

.btn-container{
    width: 10rem;
    height: 2.5rem;
    
}

.btn-hero{
    font-size: .8rem;
    letter-spacing: .75px;
}

/*Feature Section */


.feature-text{
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
    letter-spacing: 1.6px;
}

.feature-icons{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.feature-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    height: 11rem;
    gap: 2rem;
}

.feature-subtext{
    /* text-align: center; */
    font-size: 1.8rem;
    color: #696056;
    letter-spacing: 0.75px;
    line-height: 1.2;
}

.feature-icon{
    width: 5.2rem;
    height: 5.2rem;
}

section{
    margin-bottom: 4.8rem;
}

/* Ingredients Section */


.ingredients-section{
    background-color: #C1B1A0;
    color: #FFF;
    grid-template-columns: 2fr 1fr;
}

.ingredients-content{
    padding: 4rem 2rem ;
    display: flex;
    flex-direction: column;
    gap: 1rem   ;
    justify-content: center;
}

.ingredient-text{
    font-size: 2.4rem;
    width: 27rem;
    letter-spacing: 1.4px;
    line-height: 1.25;
    margin-bottom: .5rem;
   
}

.ingredient-subtext{
    font-size: 1.1rem;
    line-height: 1.2;
    letter-spacing: 0.75px;
     margin-bottom: 1rem;
    
}


.ingredients-list li{
    margin-left: 2rem ;
    margin-bottom: .5rem;
       font-size: 1.2rem;
}


.ingredients-list li::after{
    left: -21px;
    top: 8px;
}

.ingredients-list li::before{
    left: -24px;
    top: 8px;
}

.ingredients-list li:last-child::after{
   display: none;
}



}





@media (min-width: 1024px){

    section{
    margin-bottom: 5.6rem;
}

.hero-toplogo{
    width: clamp(11rem,17vh,17rem);
}

.hero-content{
    width: 100%;
    top: clamp(16rem, 27vh , 27rem);
}

.hero-text{
    font-size: 4rem ;
    margin-bottom: 0rem;
    letter-spacing: 2px;
}

.hero-subtext{
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

.btn-container{
    width: 10rem;
    height: 3rem;
    
}


/*Feature Section */


.feature-text{
    font-size: 3.6rem;
    margin-bottom: 2.8rem;
    letter-spacing: 1.8px;
}

.feature-icons{
    gap: 6rem;
}

.feature-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    height: 11rem;
    gap: 2rem;
}

.feature-subtext{
    /* text-align: center; */
    font-size: 1.8rem;
    color: #696056;
    letter-spacing: 0.75px;
    line-height: 1.2;
}

.feature-icon{
    width: 5.8rem;
    height: 5.8rem;
}

/* Ingredients Section */


.ingredients-section{
    background-color: #C1B1A0;
    color: #FFF;
    grid-template-columns: 1.8fr 1.2fr;
}

/* .ingredients-content{
    padding: 4rem 2rem ;
    display: flex;
    flex-direction: column;
    gap: 1rem   ;
    justify-content: center;
} */

.ingredients-content{
    display: flex;
    flex-direction: column;
    gap: 1rem   ;
    justify-content: center;
    margin-left: 4rem;
}

.ingredient-text{
    font-size: 3.6rem;
    width: 27rem;
    letter-spacing: 1.4px;
    line-height: 1.25;
    margin-bottom: .5rem;
   
}

.ingredient-subtext{
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.75px;
     margin-bottom: 1rem;
    
}


.ingredients-list li{
    margin-left: 2rem ;
    margin-bottom: .5rem;
       font-size: 1.6rem;
}


.ingredients-list li::after{
    left: -21px;
    top: 8px;
        width: 3px;
    height: 3.6rem;
}

.ingredients-list li::before{
    left: -24px;
    top: 8px;
    
}

.ingredients-list li:last-child::after{
   display: none;
}

.testimonial-carousel{
    overflow-x: none;
}
}





@media (min-width: 1200px){

    .container{
        margin: 0 auto;
        max-width: 120rem;
    }


    section{
    margin-bottom: 9.6rem;
}

 
.hero-toplogo{
    width: clamp(11rem,18vh,18rem);
}

.hero-content{
    width: 100%;
    top: clamp(30rem, 34vh , 34rem);
    gap:1rem ;
}

.hero-text{
    font-size: 4rem ;
    margin-bottom: 0rem;
    letter-spacing: 2px;
}

.hero-subtext{
    margin-bottom: 1.2rem;
    font-size: 2rem;
}

.btn-container{
    width: 12rem;

    
}

.btn-hero{
    font-size: 1.2rem;
}


/*Feature Section */


.feature-text{
    font-size: 4rem;
    margin-bottom: 3.2rem;
    letter-spacing: 2px;
}

.feature-icons{
    gap: 8rem;
}

.feature-content{
    gap: 2rem;
    width: 13rem;
}

.feature-subtext{
    /* text-align: center; */
    font-size: 2rem;
    color: #696056;
    letter-spacing: 1px;
    line-height: 1.4;
}

.feature-icon{
    width: 5.8rem;
    height: 5.8rem;
}

/* Ingredients Section */


.ingredients-section{
    background-color: #C1B1A0;
    color: #FFF;
    grid-template-columns: 1.8fr 1.2fr;
}

.ingredients-content{
    display: flex;
    flex-direction: column;
    gap: 1rem   ;
    justify-content: center;
    margin-left: 4rem;
}

.ingredient-text{
    font-size: 3.6rem;
    width: 32rem;
    letter-spacing: 1.4px;
    line-height: 1.25;
    margin-bottom: .5rem;
 
}

.ingredient-subtext{
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.75px;
     margin-bottom: 1rem;
      width: 35rem;
    
}


.ingredients-list li{
    margin-left: 2rem ;
    margin-bottom: .5rem;
       font-size: 1.6rem;
}


.ingredients-list li::after{
    left: -21px;
    top: 8px;
        width: 3px;
    height: 3.6rem;
}

.ingredients-list li::before{
    left: -24px;
    top: 8px;
    
}

.ingredients-list li:last-child::after{
   display: none;
}

/* testimonial */

.testimonial-text{
   font-size: 4rem;
}

.carousel-controls{
    display: none;
}






}